<h1>New Yorker Github Sound Notifier</h1>

<a href="#" class="button interval-button">Start Interval</a>

<audio id="push-sound" src="audio/dotted-spiral.mp3" preload="auto"></audio>
<audio id="default-sound" src="audio/glimmer.mp3" preload="auto"></audio>
<audio id="pull-request-sound" src="audio/clay.mp3" preload="auto"></audio>
<audio id="release-sound" src="audio/clay.mp3" preload="auto"></audio>
<audio id="branch-sound" src="audio/clay.mp3" preload="auto"></audio>
<audio id="comment-sound" src="audio/splits.mp3" preload="auto"></audio>
