<!DOCTYPE html>
<html>
<head>
  <title>Nypullrequest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>New Yorker Pull Request Notifier</h1>

<audio id="multiaudio1" src="audio/piano_chord.wav" preload="auto"></audio>

<%= yield %>

</body>
</html>
