<!DOCTYPE html>
<html>
<head>
  <title>Nypullrequest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>New Yorker Pull Request Notifier</h1>

<audio id="multiaudio1" src="audio/clay.mp3" preload="auto"></audio>
<audio id="multiaudio2" src="audio/dotted-spiral.mp3" preload="auto"></audio>
<audio id="multiaudio3" src="audio/glimmer.mp3" preload="auto"></audio>
<audio id="multiaudio4" src="audio/splits.mp3" preload="auto"></audio>
<audio id="multiaudio5" src="audio/strike.mp3" preload="auto"></audio>

<%= yield %>

</body>
</html>
